<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CacheServer" type="Adf.Config.IpGroupSection,Adf"/>
  </configSections>
  <appSettings>
    <!-- 日志刷新时间间隔(秒) -->
    <add key="Log:Path" value="C:\Logs\Adf.CacheTest"/>
    <add key="Log:FlushInterval" value="10"/>
  </appSettings>
  <!-- 默认的缓存服务器组, 以100个hash虚拟节进行hash分配 -->
  <CacheServer hash="100">
    <add ip="127.0.0.1" port="201"/>
    <!--<add ip="127.0.0.2" port="201"/>
    <add ip="127.0.0.3" port="201"/>
    <add ip="127.0.0.4" port="201"/>-->
  </CacheServer>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
