<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ServerMap" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <!-- Service Port 服务端口 -->
    <add key="Port" value="201"/>
    <add key="Ip" value="*"/>

    <!-- Http Port 监控端口 -->
    <add key="HttpPort" value="202"/>
    <add key="HttpIp" value="*"/>

    <!-- LOGS -->
    <add key="Log:FlushInterval" value="10"/>
    <add key="Log:Path" value="c:\logs\Adf.CacheServer\"/>

    <!-- HashPoolSize -->
    <!--<add key="HashPoolSize" value="10"/>-->
    <!--<add key="MaxResetCapacity" value="1280000"/>-->

  </appSettings>
  <!-- Server Maps -->
  <ServerMap>
    <add key="CacheServer" value="Adf.CacheServer.CacheServer,Adf.CacheServer"/>
  </ServerMap>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
